{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{%static 'post/home3.css' %}" type="text/css" />
{% endblock %}

{% block content %}

    <div class="home3_container">
        <div class="home3_content1">
            <div class="home3_video">
                <div class="home3_video_1">video 1
                </div>
                <div class="home3_video_2">video 2
                </div>
                <div class="home3_video_3">video 3
                </div>
            </div>
            <div class="home3_event">
                <div class="home3_log_event"> event log</div>
                <div class="home3_result_event"> event result</div>
            </div>
        
        </div>
        <div class="home3_content2">
            <form action = "{% url 'post:input_video' %}" method="POST" enctype="multipart/form-data" class="content3_video" >
            {% csrf_token %}  

            <div class="home3_content2_1">
                <input type='file' class='input3_video_1' name='input3_video_1' />
                <input type='file' class='input3_video_2' name='input3_video_2' />
                <input type='file' class='input3_video_3' name='input3_video_3' />
            </div>

            <div class="home3_content2_2">
                <button type="submit">확인</button>
            </div>
            </form>

        </div>
    </div>


{% endblock%}