<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/post/madeby.css">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
    </style>

</head>
<body>
</head>
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">yOnOm</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'post:home'%}">Main</a>
            <a class="nav-link active" href="{% url 'post:about' %}">About</a>
            <a class="nav-link active" href="{% url 'post:made_by' %}">made_by</a>
          </nav>
        </div>
      {% comment %} </div> {% endcomment %}
      </header>
      {%block content%}
      {%endblock%}
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        

    <h1>yOnOm Team</h1>
    <br>
    <span id='total'>
        <span id='team_intro1'>
            <section id='강'>
                <img id='김_img' src="./김.jpg" alt="김" width="150" height="150">
                <br></br>
                <div id='강_text'>
                    email : 9808gus@likelion.org<br>
                    담당 : 데이터 전처리, 모델링, 웹 구현
                </div>
                <br></br>
            </section>
            <section id='김'>
                <img id='김_img' src="./김.jpg" alt="김" width="150" height="150">
                <br></br>
                <div id='김_text'>
                    email : 9808gus@likelion.org<br>
                    담당 : 데이터 전처리, 모델링, 웹 구현
                </div>
                <br></br>
            </section>
        </span>
        <span id='team_intro2'>
            <section id='배'>
                <img id='김_img' src="./김.jpg" alt="김" width="150" height="150">
                <br></br>
                <div id='배_text'>
                    email : 9808gus@likelion.org<br>
                    담당 : 데이터 전처리, 모델링, 웹 구현<br>
                </div>
                <br></br>
            </section>
            <section id='최'>
                <img id='김_img' src="./김.jpg" alt="김" width="150" height="150">
                <br></br>
                <div id='최_text'>
                    email : 9808gus@likelion.org<br>
                    담당 : 데이터 전처리, 모델링, 웹 구현
                </div>
                <br></br>
            </section>
        </span>
    </span>
</body>
</html>