{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{%static 'post/made_by.css' %}" type="text/css" />

{% endblock %}

{% block content %}
<div class='made_by_container'>
    <div class="team_name">
    {% comment %} <h1>yOnOm Team Member</span> {% endcomment %}
    <path fill-rule="evenodd" d="M8 11a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
    <path d="M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
    </svg>
    </h1>
    </div>
    <div class="team_info">
        </br>
        </br>
        </br>
        <span id='total'>
            <span id='team_intro1'>
                <section id='강'>
                    <img id='강_img' src="../../static/post/image/mj.jpg" alt="김" width="150" height="150">
                    <br></br>
                    <div id='강_text'>
                        강민지</br>
                        email : 5622kmj@likelion.org<br>
                        담당 : 데이터 전처리, 모델링
                    </div>
                    <br></br>
                </section>
                <section id='김'>
                    <img id='김_img' src="../../static/post/image/ch.jpg" alt="김" width="150" height="150">
                    <br></br>
                    <div id='김_text'>
                        김채현</br>
                        email : 9808gus@likelion.org<br>
                        담당 : 데이터 전처리, 모델링, 웹 구현
                    </div>
                    <br></br>
                </section>
            </span>
            <span id='team_intro2'>
                <section id='배'>
                    <img id='김_img' src="../../static/post/image/sb.jpg" alt="김" width="150" height="150">
                    <br></br>
                    <div id='배_text'>
                        배성빈</br>
                        email : seongbin5962@likelion.org<br>
                        담당 : 데이터 전처리, 모델링, 웹 구현<br>
                    </div>
                    <br></br>
                </section>
                <section id='최'>
                    <img id='김_img' src="../../static/post/image/sy.jpg" alt="김" width="150" height="150">
                    <br></br>
                    <div id='최_text'>
                        최서윤</br>
                        email : ab3492@likelion.org<br>
                        담당 : 데이터 전처리, 모델링, 웹 구현
                    </div>
                    <br></br>
                </section>
            </span>
        </span>
    </div>
</div>
{% endblock%}