
.home2_container{
    /* border: 1px;
    border-style: solid;
    border-color:  #7A8A8A; */

    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home2_content1{
    /* border: 1px;
    border-style: solid;
    border-color:  #7A8A8A; */

    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home2_content2{
    /* border: 1px;
    border-style: solid;
    border-color:  #7A8A8A; */

    width: 100%;
    height: 10%;

    display: flex;

    justify-content: space-between ;
    align-items: center;


}
.home2_content2_1{
    border: 1px;
    border-style: solid;
    border-color:  #7A8A8A;
    
    width: 80%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

/* home2 content2 */

.home2_content2_2{
    border: 1px;
    border-style: solid;
    border-color:  #7A8A8A;

    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.home2_content2_2_video_num{
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home2_content2_2_button{
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content2_video{
    /* border: 1px;
    border-style: solid;
    border-color: red; */

    width: 100%;
    height: 100%;


    display: flex;
    justify-content: space-between;
    align-items: center;

}



.home2_video{
    border: 1px;
    border-style: solid;
    border-color:  #7A8A8A;


    width: 70%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}


.home2_video_1{
    /* border: 1px;
    border-style: solid;
    border-color:  #7A8A8A; */


    margin:5px;

    width: 100%;
    height : 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.home2_event{
    /* border: 1px;
    border-style: solid;
    border-color:  #7A8A8A; */


    width: 30%;
    height: 100%;

    
}

.home2_log_event{
    border: 1px;
    border-style: solid;
    border-color: #7A8A8A;


    width:100%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.home2_result_event{
    border: 1px;
    border-style: solid;
    border-color:  #7A8A8A;

    width:100%;
    height: 10%;


    display: flex;
    justify-content: center;
}


