/* .home_container {
    
    display:flex;
    justify-content: center;
    align-items: center;
}
.video {
    border: 1px;
    border-style: solid;
    border-color: lightgray;
    
} */

/* .event {
    border: 1px;
    border-style: solid;
    border-color: lightgray;
} */
