<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/home.css">
	<title>Document</title>
	<style>
	body{
		background-image:url('./잡았다 요놈.png');
		{% comment %} background-color: #D9E5FF; {% endcomment %}
		background-repeat : no-repeat;
		background-size : cover;
	}
	</style>
	<section id='section'>
		<h1 id='main'>영상 갯수를 선택하세요</h1>
		<div id="btn_group"> 
			<button id="test_btn1">1</button> 
			<button id="test_btn2">2</button> 
			<button id="test_btn3">3</button> 
			<button id="test_btn4">4</button> 
		</div>
	</section>
</head>
<body>

</body>
</html>